<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stlyes.css">
    <title>OnePiece</title>

  </head>
    <body>
      
      <div class="container">
        
          <nav class="navbar">
              <div class="navbar__container">
                <a href="/" id="navbar__logo">Demon Slayer</a>
            <div class="navbar__toggle" id="mobile-menu">
             <span class="bar"></span> <span class="bar"></span>
             <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li  class="navbar__item">
                    <a href="/" class="navbar__links">HOME</a>
                </li>
                <li  class="navbar__item">
                    <a href="/tech.html" class="navbar__links">MANGA</a>
                </li>
                <li  class="navbar__item">
                    <a href="/product.html" class="navbar__links">ANIME</a>
                </li>
                <li  class="navbar__btn">
                    <a href="/" class="button">CONNECT</a>
                </li>
            </ul>
              </div>
          </nav>

          <div class="text">
              <h1>Welcome to demon slayer world</h1>
            <h3>Story :</h3><p>The story takes place in Taishō-era Japan. <br>
              It follows Tanjiro Kamado and his sister Nezuko Kamado as  <br>
              they seek cure for Nezuko's demon curse. Tanjiro and Nezuko <br>
              become entangled in the affairs of a secret society, known  <br>
              as the Demon Slayer Corps, that has been waging a secret  <br>
              war against demons for centuries.</p>
          </div>
      </div>


      <div class="content">
        
        <div class="content1">
          <div class="card">
            <div class="box">
              <h4>STONE</h4>
      
            </div>
          </div>

          <div class="card">
            <div class="box1">
              <h4>MIST</h4>
                
            </div>
          </div>

          <div class="card">
            <div class="box2">
                <h4>LOVE</h4>
                
            </div>
          </div>
        

           <div class="card">
          <div class="box3">
            <h4>FLAME</h4>
            
          </div>
          </div>

          <div class="card">
          <div class="box4">
            <h4>WATER</h4>
              
          </div>
          </div>

          <div class="card">
          <div class="box5">
            <h4>BUG</h4>
              
          </div>
          </div>

          <div class="card">
          <div class="box6">
            <h4>SOUND</h4>
              
          </div>
          </div>

         
          </div>
          <h1 class="herotitle">Choose your Hero</h1>
        </div>
        
      </div>


      <div class="container3">
        <h1>SEASON 1</h1>
        <p>Demon Slayer: Kimetsu no Yaiba (鬼滅の刃, Kimetsu no Yaiba, "Blade of Demon Destruction"[4]) is a Japanese manga<br>
           written and illustrated by Koyoharu Gotouge. It follows teenage Tanjiro Kamado, who strives to become a demon slayer<br>
            after his family was slaughtered and his younger sister Nezuko turned into a demon. It was serialized in Shueisha's <br>
            shōnen manga magazine Weekly Shōnen Jump from February 2016 to May 2020, with its chapters collected in twenty-three <br>
            tankōbon volumes. It has been published in English by Viz Media and simultaneously published by Shueisha on their Manga <br>
            Plus platform.
            <br>
          A 26-episode anime television series adaptation produced by Ufotable aired in Japan from April to September 2019. <br>
          A sequel film, Demon Slayer: Kimetsu no Yaiba – The Movie: Mugen Train, was released in October 2020 and became the<br>
           highest-grossing anime film and Japanese film of all time. A second season of the anime series, readapting the<br>
            "Mugen Train" arc seen in the film and covering the "Entertainment District" arc from the manga, premiered in October 2021.<br>
            <br>
          As of February 2021, the manga had over 150 million copies in circulation, including digital versions, making it the eight<br>
           best-selling manga series of all time. Both the manga and its anime adaptation have received critical acclaim. The anime <br>
           series has received numerous awards and is considered one of the best anime of the 2010s. As of December 2020, the Demon <br>
           Slayer franchise is estimated to have generated total sales of at least ¥1 trillion ($8.75 billion) in Japan and becoming <br>
           one of the highest-grossing media franchises of all time.</p>
      </div>
      <div class="container4">

      <h1 class="main">Choose your side</h1>
          <div class="main_box">
            <div class="box">
            <div class="heading">
                <h1>Demons</h1>
            </div>
            <div class="form">
                <input class="int"  name="email" type="text" placeholder="Instagram Id" />
                <input class="int" type="password" placeholder="Password" />
            </div>
            <button  type="submit" class="button2">Aquier</button>
            </div>
          </div>

          <div class="main_boxb">
            <div class="boxb">
            <div class="heading">
                <h1>Heros</h1>
            </div>
            <div class="form">
                <input class="int"  name="email" type="text" placeholder="Instagram Id" />
                <input class="int"  name="pass" type="password" placeholder="Password" />
            </div>
            <button  type="submit" class="button2">Aquier</button>
            </div>
          </div>
      </div>
    </body>    


</html>